## An치lisis de los datos inciales

In [90]:
# Librerias necesarias 
import pandas as pd

In [86]:
# Leer los datos
expuestos = pd.read_csv('Data\BD_Expuestos.txt', sep = '\s+', encoding = 'latin-1')
sociodemograficas = pd.read_csv('Data\BD_Sociodemograficas.txt', sep = '\s+', encoding = 'latin-1')

In [87]:
# Vista inicial de los datos 
display('_'*113)
display(f'{" "*29}Base de datos Expuestos{" "*29}')
display(expuestos.head(5))
display('_'*113)
display(f'{" "*40}Base de datos Sociodemogr치ficos{" "*40}')
display(sociodemograficas.head(5))
display('_'*113)
display(f'{" "*40}Base de datos Siniestros{" "*40}')

'_________________________________________________________________________________________________________________'

'                             Base de datos Expuestos                             '

,Asegurado_Id,Poliza_Asegurado_Id,FECHA_INICIO,FECHA_CANCELACION,FECHA_FIN
0,16286173,125696117,2018/01/01,2018/04/10,2018/04/10
1,11885152,141320760,2018/01/01,2019/12/31,NaN
2,763957,162532851,2018/01/01,2019/12/31,NaN
3,29082204,154620473,2018/01/01,2018/04/19,2018/04/19
4,4567640,93633862,2018/01/01,2019/12/31,NaN

'_________________________________________________________________________________________________________________'

'                                        Base de datos Sociodemogr치ficos                                        '

,Asegurado_Id,Mujer,FechaNacimiento,Ciudad,CANCER,EPOC,DIABETES,HIPERTENSION,ENF_CARDIOVASCULAR
0,18686469,1,17/01/1984,Bogota,0,0,0,0,0.0
1,16087775,0,12/03/1984,Medellin,0,0,0,0,0.0
2,35757761,1,19/12/1993,Bogota,0,0,0,0,0.0
3,48691460,0,14/11/2000,Bogota,0,0,0,0,0.0
4,36074099,1,6/08/2015,Cali,0,0,0,0,0.0

'_________________________________________________________________________________________________________________'

'                                        Base de datos Siniestros                                        '

In [88]:
# Observaciones y variables para cada base de daatos
display(f'La base de datos expuestos tiene {expuestos.shape[0]} observaciones y {expuestos.shape[1]} variables')
display(f'La base de datos sociodemogr치ficos tiene {sociodemograficas.shape[0]} observaciones y {sociodemograficas.shape[1]} variables')

'La base de datos expuestos tiene 300900 observaciones y 5 variables'

'La base de datos sociodemogr치ficos tiene 267312 observaciones y 9 variables'

In [89]:
# Asegurados 칰nicos para cada base de datos
display(f'Asegurados 칰nicos en los datos expuestos: {len(expuestos["Asegurado_Id"].unique())}')
display(f'Asegurados 칰nicos en los datos sociodemogr치ficos: {len(sociodemograficas["Asegurado_Id"].unique())}')

'Asegurados 칰nicos en los datos expuestos: 267233'

'Asegurados 칰nicos en los datos sociodemogr치ficos: 267233'